{namespace neos=Neos\Neos\ViewHelpers}
<h3 class="film"><i class="uk-icon-film uk-icon-medium uk-align-left"></i>À propos du film</h3>
<a class="link_white" target="_blank" href="{lien_enfantscinema}"><button class="uk-button uk-button-primary uk-button-large"> > La fiche du film sur le site "Nanouk"</button></a><br/><br/>
<a class="link_white" target="_blank" href="{lien_transmettrecinema}"><button class="uk-button uk-button-primary uk-button-large"> > La fiche du film sur le site "Transmettre le cinéma"</button></a><br/>
<div class="contenu">
<neos:contentElement.editable property="text" />
</div>